# UAS Politeknik Krakatau

- Nama: 
- Kelas : 
- Dosen Pengampu : Yudistira Dwi Permana

### Percabangan

In [1]:
nilai = 75

penjelasan

In [2]:
# buatlah if output 75 menjadi nilai A
if nilai == 75:
    print("Nilai A")

Nilai A

penjelasan

In [8]:
# Buatlah if else output 75 menjadi nilai B
if nilai > 76:
    print("Nilai A")
else:print("Nilai B")

Nilai B

In [9]:
# Buatlah if elif else output 75 menjadi nilai C
if nilai>=90:
    print(" Nilai A")
elif nilai>=80:
    print("Nilai B")
else: print("Nilai C")

Nilai C

penjelasan

In [10]:
# lengkapkan kode di bawah ini
for i in ['Saya','Suka','Rpl']:
    for j in [1,2]:
        print(i,j)

# buatkan output menjadi
# saya 1
# saya 2
# suka 1
# suka 2
# rpl 1
# rpl 2

Saya 1
Saya 2
Suka 1
Suka 2
Rpl 1
Rpl 2

penjelasan

In [15]:
# Break Statement
x = ['saya', 'suka', 'rpl', 'tapi', 'boong']
for word in x:
    if word == 'tapi':
       break
    # lengkapi kode di bawah ini
    
    print(word,end='')
    
# buatkan output menjadi saya suka rpl

sayasukarpl